---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJncHVzaC13cml0ZUBnc3B1c2guaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE2NzQzMTIwNDQsImlhdCI6MTY3NDMxMTkyNCwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cyJ9.Ju4MJqZEC75cehjpbTnvffYN9iThI4Wz7t1IEzaXIiwNyJ6t3mCpxFJE8ZK4nNNBonE3E_rNNmrlG6pX6Am2z7spb_V8YcX9VaLsQDK-tVvGGvkaYk66Vm9_PIaPZUQ8AQeQeQmzmY8G0CRzLreFVU7sLnqG3DA-HuHC5kJxvfV_kIktCpIuF5x5Zfdpkrqrzjzq8wgaehA4OeHEjrQjEY8JQuxbAnPoALH4AQn8F3hejUdtSiOtV6pHISKkG5K2p3owj2-N8K0Txe70pWLq30jzPq47EEflg1BfSudWUpbI29efSmTi1Qjr9jGqomg6XBsbO5rmnwuN0KiSYNdWWg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0AT7lpjBWx3Bp_S42Iz518U7oSTk-7knO3gymLSWxj9b8MiekXpXxGWSa1puhVB2s93jvuXXTj2qferIsGaFQMD8Ht2mTNgCyIR8Tfvvl19jIFUndnVoa6SwjVGBJNokjFh8wOyquuSCadcdu876d8HMrKvntedp1hBUmMRKUuQ4zJCLEjmLv-efpprrQKwbigG5z0MOcgBsOcz2SvifXvbRfDAJ_LoI........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Sat, 21 Jan 2023 14:39:44 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw",
          "properties": {
            "title": "csv++ test",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "America/New_York",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw/values/'Sheet1'!A1:Z1000?valueRenderOption=FORMATTED_VALUE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Sheet1!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "foo",
              "bar",
              "foo1",
              "bar1",
              "Total",
              "Fees"
            ],
            [
              "",
              "",
              "",
              "",
              "#ERROR!",
              "#ERROR!"
            ],
            [
              "",
              "",
              "",
              "",
              "#ERROR!",
              "#ERROR!"
            ],
            [
              "",
      [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw/values/'Sheet1'!A1:Z1000?valueRenderOption=FORMULA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateCells":{"fields":"*","rows":[{"values":[{"userEnteredFormat":{"textFormat":{"bold":true,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":null,"strikethrough":null,"underline":null}},"userEnteredValue":{"stringValue":"foo"}},{"userEnteredFormat":{"textFormat":{"bold":null,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":null,"strikethrough":true,"underline":null}},"userEnteredValue":{"stringValue":"bar"}},{"userEnteredFormat":{"textFormat":{"bold":null,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":null,"strikethrough":null,"underline":true}},"userEnteredValue":{"stringValue":"foo1"}},{"userEnteredFormat":{"textFormat":{"bold":null,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":true,"strikethrough":null,"underline":null}},"userEnteredValue":{"stringValue":"bar1"}}]}],"start":{"columnIndex":0,"rowIndex":0,"sheetId":0}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw",
          "replies": [
            {}
          ]
        }
  recorded_at: Sat, 21 Jan 2023 14:39:45 GMT
recorded_with: VCR 6.1.0
