---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJncHVzaC13cml0ZUBnc3B1c2guaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE2ODQxNTMxNDYsImlhdCI6MTY4NDE1MzAyNiwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cyJ9.0_aBioiD4ZtaI9F97u8KCBNCH230GS1KeFe72eSJcZY0vQE73H0lxXTUhof-Ru7CvbWgxrpyeIKTqonRhKDx7LcXzdY1_qAW-7tuOPF4wX0MuT25t6WwwseLxZm5umzAiR6q7kCruk3NGJowJTqSH4PZtvjqfKCh7wQlwn_LpEA7C7-I2JppleXDEFsBZ61iaYSfaFrAYwa9Ot3jKkfjZrKeg9CLGDjlj82l0Q3ejfpTkCe1GgBPyO4NJpkjGDft9jbYei7KdXyrC5i4SWknwfO6bDN0IrP-baj6jxFpkD-Hs7pmOeT54oZMuPBMvm1VlmHuaLDq9rVDQUT1ypYqGQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<AUTH>"
  recorded_at: Mon, 15 May 2023 12:18:06 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw/values/A1:Z1000?valueRenderOption=FORMATTED_VALUE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Sheet1!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "foo",
              "bar",
              "foo1",
              "bar1",
              "Profit",
              "Fees"
            ],
            [
              "value",
              "",
              "",
              "",
              "0",
              "0"
            ],
            [
              "",
              "one more",
              "",
              "",
              "100",
              "2"
            ],
            [
              "",
              [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw/values/A1:Z1000?valueRenderOption=FORMULA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      [...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateCells":{"fields":"*","rows":[{"values":[{"userEnteredFormat":{"backgroundColor":null,"horizontalAlignment":null,"numberFormat":null,"textFormat":{"bold":true,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":null,"strikethrough":null,"underline":null},"verticalAlignment":null},"userEnteredValue":{"stringValue":"foo"}},{"userEnteredFormat":{"backgroundColor":null,"horizontalAlignment":null,"numberFormat":null,"textFormat":{"bold":null,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":null,"strikethrough":true,"underline":null},"verticalAlignment":null},"userEnteredValue":{"stringValue":"bar"}},{"userEnteredFormat":{"backgroundColor":null,"horizontalAlignment":null,"numberFormat":null,"textFormat":{"bold":null,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":null,"strikethrough":null,"underline":true},"verticalAlignment":null},"userEnteredValue":{"stringValue":"foo1"}},{"userEnteredFormat":{"backgroundColor":null,"horizontalAlignment":null,"numberFormat":null,"textFormat":{"bold":null,"fontFamily":null,"fontSize":null,"foregroundColor":null,"italic":true,"strikethrough":null,"underline":null},"verticalAlignment":null},"userEnteredValue":{"stringValue":"bar1"}}]}],"start":{"columnIndex":0,"rowIndex":0}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1tgvyN8cgMPx4pKa7LU5n0BW3JQa8wlsCI8quWpfPYFw",
          "replies": [
            {}
          ]
        }
  recorded_at: Mon, 15 May 2023 12:18:08 GMT
recorded_with: VCR 6.1.0
